# Practice Exercise: Importing data & Exploring data (manipulation)

## Context:
- The data is about NBA (National Basketball Association) games from 2004 season to Dec, 2020.
- We'll be focusing on practicing importing data and data manipulation techniques learned in the course. But the dataset is also popular to be used for predicting NBA games winners.
- We've made minor changes on the data to fit this exercise, such as changing the column names. Check out the original source if you are interested in using this data for other purposes (https://www.kaggle.com/nathanlauga/nba-games)

## Dataset Description:

We'll work on two datasets (in two separate csv files):

  - **games**: each game from 2004 season to Dec 2020, including information about the two teams in each game, and some details like number of points, etc
  - **teams**: information about each team played in the games
  
Assume we want to study the game level data, but with detailed information about each team. We'll need to combine these two datasets together.

## Objective: 
   - Load/examine/subset/rename/change dtypes of columns for each individual dataset
   - Combine them into a single dataset, and export it
   - Explore the final dataset by subsetting or sorting

### 1. Import the libraries

In [183]:
import pandas as pd

### 2. Load the data in `games.csv` as a DataFrame called `games`

Save the csv file under the same directory as the notebook if not typing the full path.

In [184]:
df_games = pd.read_csv('games.csv')

### 3. Look at the first 5 rows of the DataFrame

In [185]:
df_games.head(5)

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

### 4. Look at the columns of the DataFrame

In [186]:
df_games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

### 5. Reassign `games` as its subset of the columns 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS'

We'll only keep some columns about the games

In [187]:
df_games = df_games[['GAME_DATE', 'GAME_STATUS_TEXT', 
               'TEAM_ID_home', 'TEAM_ID_away', 
               'POINTS_home', 'POINTS_away', 
               'HOME_TEAM_WINS']]

### 6. Look at the new `games` DataFrame's first 5 rows, and info summary

In [188]:
df_games.info()
df_games.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  object
 1   GAME_STATUS_TEXT  23421 non-null  object
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1.3+ MB

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

### 7. Convert `GAME_DATE` to a `datetime` dtype

In [189]:
df_games['GAME_DATE'] = pd.to_datetime(df_games['GAME_DATE'])

In [190]:
df_games.dtypes

GAME_DATE           datetime64[ns]
GAME_STATUS_TEXT            object
TEAM_ID_home                 int64
TEAM_ID_away                 int64
POINTS_home                  int64
POINTS_away                  int64
HOME_TEAM_WINS               int64
dtype: object

### 8. Convert `GAME_STATUS_TEXT` to a `string` dtype

In [191]:
df_games['GAME_STATUS_TEXT'] = df_games['GAME_STATUS_TEXT'].astype('string')

### 9. Look at the info summary of the DataFrame to verify the changes

In [192]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23421 entries, 0 to 23420
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE         23421 non-null  datetime64[ns]
 1   GAME_STATUS_TEXT  23421 non-null  string
 2   TEAM_ID_home      23421 non-null  int64
 3   TEAM_ID_away      23421 non-null  int64
 4   POINTS_home       23421 non-null  int64
 5   POINTS_away       23421 non-null  int64
 6   HOME_TEAM_WINS    23421 non-null  int64
dtypes: datetime64[ns](1), int64(5), string(1)
memory usage: 1.3 MB

### 10. Load the data in `teams.csv` as a DataFrame called `teams`, and look at its first 5 rows, and its columns

In [193]:
df_teams = pd.read_csv('teams.csv')
df_teams.head(5)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [194]:
df_teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

### 11. Reassign `teams` as a subset of its columns 'TEAM_ID', 'CITY', 'NICKNAME', and look at its first 5 rows and info summary

We'll only keep some columns about the teams

In [195]:
df_teams = df_teams[['TEAM_ID', 'CITY', 'NICKNAME']]

In [196]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   30 non-null     int64
 1   CITY      30 non-null     object
 2   NICKNAME  30 non-null     object
dtypes: int64(1), object(2)
memory usage: 848.0+ bytes

In [197]:
df_teams.head(5)

      TEAM_ID         CITY   NICKNAME
0  1610612737      Atlanta      Hawks
1  1610612738       Boston    Celtics
2  1610612740  New Orleans   Pelicans
3  1610612741      Chicago      Bulls
4  1610612742       Dallas  Mavericks

### 12. Convert both columns `CITY` and `NICKNAME` to a `string` dtype

In [198]:
df_teams = df_teams.astype({'CITY': 'string', 'NICKNAME': 'string'})

### 13. Verify the changes with the `dtypes` attribute

In [199]:
df_teams.dtypes

TEAM_ID      int64
CITY        string
NICKNAME    string
dtype: object

### 14. Print out the first two rows of `games` and `teams`, how can we combine them?

In [200]:
df_games.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1

In [201]:
df_teams.head(2)

      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

*Hint:*

*Within the `games` DataFrame, there are two columns `TEAM_ID_home` and `TEAM_ID_away`. This is because each game involves two teams playing against each other. The team that played in its own location, is called the 'home' team, the team that played outside its location, is called the 'away' team. Each game has one 'home' team and one 'away' team.*

*While the `teams` DataFrame stores the information about each team, the identifier for each team is the column `TEAM_ID`.*

*We can merge the two DataFrames based on:*

- *`TEAM_ID_home` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'home' team*
- *`TEAM_ID_away` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'away' team*

### 15. Merge (inner) `games` and `teams` based on 'TEAM_ID_home' and 'TEAM_ID', call the merged DataFrame `games_with_home_team`

In [202]:
df_games_with_home_team = pd.merge(df_games, df_teams, left_on='TEAM_ID_home', right_on='TEAM_ID', how='inner')

### 16. Print out the first 5 rows of the new DataFrame

Since we used the column `TEAM_ID_home` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'home' team. 
So let's rename them.

In [203]:
df_games_with_home_team.head(5)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic
2,2020-08-24,Final,1610612753,1610612749,106,121,0,1610612753,Orlando,Magic
3,2020-08-22,Final,1610612753,1610612749,107,121,0,1610612753,Orlando,Magic
4,2020-08-13,Final,1610612753,1610612740,133,127,1,1610612753,Orlando,Magic

### 17. Rename the column `CITY` as 'city_home', `NICKNAME` as 'nickname_home'

In [204]:
df_games_with_home_team.rename(columns={'CITY': 'city_home', 'NICKNAME': 'nickname_home'}, inplace=True)

### 18. Merge (inner) `games_with_home_team` and `teams` based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame `games_with_both_teams`

In [205]:
df_games_with_both_teams = pd.merge(df_games_with_home_team, df_teams, left_on='TEAM_ID_away', right_on='TEAM_ID')

### 19. Print out the first two rows of the new DataFrame

Since we used the column `TEAM_ID_away` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'away' team. 
So let's rename them.

In [206]:
df_games_with_both_teams.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

### 20. Rename the column `CITY` as 'city_away', `NICKNAME` as 'nickname_away'

In [207]:
df_games_with_both_teams.rename(columns={'CITY': 'city_away', 'NICKNAME': 'nickname_away'}, inplace=True)

### 21. Print out the first 5 rows of the new DataFrame

You probably have noticed that there are two columns called `TEAM_ID_x` and `TEAM_ID_y`. This is because we merged the DataFrame twice with the `teams` DataFrame. So the `TEAM_ID` column from `teams` is added twice to the merged DataFrame. 

To avoide duplicate column names, `pandas` added the suffixes of '_x' and '_y' to distinguish them. But due to inner joins, `TEAM_ID_x` is the same as `TEAM_ID_home`, and `TEAM_ID_y` is the same as `TEAM_ID_away`.

In [208]:
df_games_with_both_teams.head(5)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,city_away,nickname_away
0,2020-12-19,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,2020-12-17,Final,1610612753,1610612766,115,123,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
2,2014-03-28,Final,1610612753,1610612766,110,105,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
3,2014-01-17,Final,1610612753,1610612766,101,111,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
4,2013-02-19,Final,1610612753,1610612766,92,105,0,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets

### The team ID columns are not needed after the merge of the DataFrames. 

### Drop the columns 'TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y' from `games_with_both_teams`

In [209]:
df_games_with_both_teams.columns

Index(['GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away',
       'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS', 'TEAM_ID_x',
       'city_home', 'nickname_home', 'TEAM_ID_y', 'city_away',
       'nickname_away'],
      dtype='object')

In [210]:
df_games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'], inplace=True)
df_games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

### 22. Make a copy of `games_with_both_teams` and assign it as `games`

In [211]:
df_games = df_games_with_both_teams.copy()

### 23. Change the column names in `games` to all lowercase

In [212]:
df_games.columns = df_games.columns.str.lower()

### 24. Print out the columns of `games` to verify the changes

In [213]:
df_games.columns

Index(['game_date', 'game_status_text', 'points_home', 'points_away',
       'home_team_wins', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

### 25. Print out the columns of `games_with_both_teams` to verify that the original DataFrame wasn't impacted by the copy

In [214]:
df_games_with_both_teams.columns

Index(['GAME_DATE', 'GAME_STATUS_TEXT', 'POINTS_home', 'POINTS_away',
       'HOME_TEAM_WINS', 'city_home', 'nickname_home', 'city_away',
       'nickname_away'],
      dtype='object')

### 26. Check the dimensionality  of `games`

In [215]:
df_games.shape

(23421, 9)

### 27. Export `games` as a csv file called 'games_transformed.csv', and open the csv file to look at it

Feel free to test the difference of the csv files with or without the argument `index=False`

In [216]:
df_games.to_csv('games_transformed.csv',index=False)

### 28. Select all the columns of 'number' dtypes from `games`

In [217]:
df_games.select_dtypes(include='number').columns

Index(['points_home', 'points_away', 'home_team_wins'], dtype='object')

### 29. Select all the columns NOT of 'number' dtypes from `games`

In [218]:
df_games.select_dtypes(exclude='number').columns

Index(['game_date', 'game_status_text', 'city_home', 'nickname_home',
       'city_away', 'nickname_away'],
      dtype='object')

### 30. Print out the first 5 rows of `games` as a reference

In [219]:
df_games.head(5)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets

### 31. Select the row with label 0

In [220]:
df_games.loc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

### 32. Select the row with integer position 0

In [221]:
df_games.iloc[0]

game_date           2020-12-19 00:00:00
game_status_text                  Final
points_home                         120
points_away                         117
home_team_wins                        1
city_home                       Orlando
nickname_home                     Magic
city_away                     Charlotte
nickname_away                   Hornets
Name: 0, dtype: object

### 33. Set the column `game_date` as the index of DataFrame `games`

In [222]:
df_games.set_index('game_date', inplace=True)

### 34. Print out the index of `games` to verify the changes

In [223]:
df_games.index

DatetimeIndex(['2020-12-19', '2020-12-17', '2014-03-28', '2014-01-17',
               '2013-02-19', '2013-01-18', '2012-04-25', '2012-01-17',
               '2011-04-01', '2011-02-27',
               ...
               '2007-12-03', '2007-01-10', '2006-03-01', '2004-12-10',
               '2004-03-17', '2018-11-26', '2017-11-13', '2017-03-16',
               '2016-03-07', '2014-12-02'],
              dtype='datetime64[ns]', name='game_date', length=23421, freq=None)

### 35. Select the rows with label '2020-12-18'

In [224]:
df_games.loc['2020-12-18']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

### 36. Select the rows with labels from '2020-12-18' to '2020-12-19'

In [228]:
df_games.loc['2020-12-18':'2020-12-19']

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-19,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2020-12-19,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

### 37. Select the rows with labels of '2020-12-18' and '2019-12-18'

In [241]:
x = pd.to_datetime(['2019-12-18', '2020-12-18'])

In [242]:
df_games.loc[x]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2019-12-18,Final,100,98,1,Cleveland,Cavaliers,Charlotte,Hornets
2019-12-18,Final,99,107,0,Minnesota,Timberwolves,New Orleans,Pelicans
2019-12-18,Final,99,112,0,Detroit,Pistons,Toronto,Raptors
2019-12-18,Final,104,108,0,Philadelphia,76ers,Miami,Heat
2019-12-18,Final,103,109,0,Dallas,Mavericks,Boston,Celtics
2019-12-18,Final,109,110,0,Washington,Wizards,Chicago,Bulls
2019-12-18,Final,126,122,1,Oklahoma City,Thunder,Memphis,Grizzlies
2019-12-18,Final,122,112,1,Portland,Trail Blazers,Golden State,Warriors
2019-12-18,Final,113,104,1,Denver,Nuggets,Orlando,Magic
2020-12-18,Final,127,113,1,New Orleans,Pelicans,Milwaukee,Bucks
2020-12-18,Final,89,113,0,Boston,Celtics,Brooklyn,Nets
2020-12-18,Final,113,114,0,Phoenix,Suns,Los Angeles,Lakers
2020-12-18,Final,129,96,1,Denver,Nuggets,Portland,Trail Blazers
2020-12-18,Final,105,117,0,Toronto,Raptors,Miami,Heat
2020-12-18,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
2020-12-18,Final,103,105,0,Oklahoma City,Thunder,Chicago,Bulls
2020-12-18,Final,119,83,1,New York,Knicks,Cleveland,Cavaliers

### 38. Select the rows with `points_home` greater than 150

In [137]:
df_games[df_games['points_home'] > 150]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2010-03-16,Final,152,114,1,Phoenix,Suns,Minnesota,Timberwolves
2020-08-25,Final,154,111,1,Los Angeles,Clippers,Dallas,Mavericks
2006-12-27,Final,151,145,1,New York,Knicks,Detroit,Pistons
2019-11-30,Final,158,111,1,Houston,Rockets,Atlanta,Hawks
2008-03-16,Final,168,116,1,Denver,Nuggets,Oklahoma City,Thunder
2019-01-10,Final,154,147,1,San Antonio,Spurs,Oklahoma City,Thunder
2020-01-28,Final,151,131,1,Milwaukee,Bucks,Washington,Wizards
2020-01-26,Final,152,133,1,Atlanta,Hawks,Washington,Wizards
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns
2008-04-06,Final,151,147,1,Oklahoma City,Thunder,Denver,Nuggets

### 39. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1

In [138]:
df_games[(df_games['points_home'] > 150) & (df_games['home_team_wins'] != 1)]

,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
game_date,,,,,,,,
2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls
2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets
2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns

### 40. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1, as well as the columns `home_team_wins` and `points_home`

In [142]:
df_games[(df_games['points_home'] > 150) & (df_games['home_team_wins'] != 1)][['home_team_wins', 'points_home']]

            home_team_wins  points_home
game_date
2019-03-01               0          161
2019-10-30               0          158
2006-12-07               0          157

### 41. Reset the index of `games` back to default and verify the changes

In [143]:
df_games.reset_index(inplace=True)

In [144]:
df_games

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away
0,2020-12-19,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,2020-12-17,Final,115,123,0,Orlando,Magic,Charlotte,Hornets
2,2014-03-28,Final,110,105,1,Orlando,Magic,Charlotte,Hornets
3,2014-01-17,Final,101,111,0,Orlando,Magic,Charlotte,Hornets
4,2013-02-19,Final,92,105,0,Orlando,Magic,Charlotte,Hornets
...,...,...,...,...,...,...,...,...,...
23416,2018-11-26,Final,116,110,1,Golden State,Warriors,Orlando,Magic
23417,2017-11-13,Final,110,100,1,Golden State,Warriors,Orlando,Magic
23418,2017-03-16,Final,122,92,1,Golden State,Warriors,Orlando,Magic
23419,2016-03-07,Final,119,113,1,Golden State,Warriors,Orlando,Magic
23420,2014-12-02,Final,98,97,1,Golden State,Warriors,Orlando,Magic

### 42. Add a new column called `points_total`, as the sum of columns `points_home` and `points_away`

In [145]:
df_games['points_total'] = df_games['points_home'] + df_games['points_away']

### 43. Verify the changes by printing out the three columns `points_home`, `points_away`, `points_total`

In [146]:
df_games[['points_total', 'points_home', 'points_away']]

       points_total  points_home  points_away
0               237          120          117
1               238          115          123
2               215          110          105
3               212          101          111
4               197           92          105
...             ...          ...          ...
23416           226          116          110
23417           210          110          100
23418           214          122           92
23419           232          119          113
23420           195           98           97

[23421 rows x 3 columns]

### 44. Print out the 3 rows with the largest `points_total` using the `nlargest` method

In [147]:
df_games.nlargest(n=3, columns='points_total')

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
15391,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329
16895,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
15572,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317

### 45. Sort the DataFrame `games` by its `points_total` column in ascending order

Don't forget to reassign the sorted result back to `games`

In [148]:
df_games.sort_values(by='points_total', inplace=True)

### 46. Print out the last 3 rows of the sorted DataFrame

Verify that it's the same three rows as the previous example (`nlargest`)

In [149]:
df_games.tail(3)

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
15572,2019-10-30,Final,158,159,0,Washington,Wizards,Houston,Rockets,317
16895,2006-12-07,Final,157,161,0,Brooklyn,Nets,Phoenix,Suns,318
15391,2019-03-01,Final,161,168,0,Atlanta,Hawks,Chicago,Bulls,329

### 47. Given that the DataFrame is sorted by `points_total`, select the row with the smallest `points_total` using `iloc`

In [150]:
df_games.iloc[0]

game_date           2007-10-19 00:00:00
game_status_text                  Final
points_home                          36
points_away                          33
home_team_wins                        1
city_home                        Boston
nickname_home                   Celtics
city_away                      Brooklyn
nickname_away                      Nets
points_total                         69
Name: 2475, dtype: object

### 48. Select the rows with the second, and third smallest `points_total` using `iloc`

In [154]:
df_games.iloc[1:3]

,game_date,game_status_text,points_home,points_away,home_team_wins,city_home,nickname_home,city_away,nickname_away,points_total
14885,2003-10-08,Final,62,58,1,Indiana,Pacers,Chicago,Bulls,120
5948,2004-11-09,Final,64,60,1,Brooklyn,Nets,Portland,Trail Blazers,124

### 49. Select a subset including the first 4 rows, and the first 5 columns using `iloc`

In [158]:
df_games.iloc[:4,:5]

       game_date game_status_text  points_home  points_away  home_team_wins
2475  2007-10-19            Final           36           33               1
14885 2003-10-08            Final           62           58               1
5948  2004-11-09            Final           64           60               1
13807 2005-03-13            Final           64           62               1